nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 2rem;
    background-color: rgb(0, 0, 0);
    height: 100px;
    padding: 0 20px;
    font-weight: 400;
    z-index: 9999;
    position: relative;

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        transition: all 0.2s ease;

        &:hover {
            font-size: 1.55rem;
            text-decoration: underline 3px #6A1B9A;
    }

  }



    img{
        width: 70px;
        height: 70px;
    }
}


@media screen and (max-width: 768px) {
    .link{
        display: none;
    }
}